#main-nav{
    margin: 0%;
    padding: 0%;
}

#title{
    font-size: 2rem;
}

#main-nav a{
    font-size: 1.4rem;
    color: #000;
}

.dropdown-menu-p{
    color: black;
}

.main-div{
    /* background-color: #; */
}

.login{
    border-color: black;
}