#main-nav{
    margin: 0%;
    padding: 0%;
}

#title{
    font-size: 2rem;
}

#main-nav a{
    font-size: 1.4rem;
    color: aliceblue
}

.dropdown-menu-p{
    color: black;
}

.main-div{
    background-color: rgba(20, 44, 100,0.96);
}